# App
APP_KEY=tGrneLV7fVW8MGhac9KXTPTtnm2WvO5xT9n1Bsds6KE=
APP_LOCALE=en
APP_DEBUG=false
LOG_LEVEL=info
# Http
HTTP_URL=http://localhost:8080/
HTTP_HOST=app
HTTP_PORT=8080
# Db
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=galaveg
DB_USERNAME=galaveg_user
DB_PASSWORD=galaveg_password
DB_PREFIX=glg_
# Mail
MAIL_HOST=fake-smtp-server
MAIL_PORT=8025
MAIL_USERNAME=test
MAIL_PASSWORD=test
MAIL_FROM_NAME=test
MAIL_FROM_ADDRESS=fake@fake.com
# Session
SESSION_REDIS_HOST=redis
SESSION_REDIS_PORT=6379
# KeyValue
KV_REDIS_HOST=redis
KV_REDIS_PORT=6379