{{ define "components/tags" }}
    <div class="admin-tags"{{ if .Style }} style="{{ .Style }}"{{ end }}>
        {{ range .Items }}
            {{ template "components/tag" (dict "Label" .Label "Values" .Values) }}
        {{ end }}
    </div>
{{ end }}
