{{ define "components/sidebar/btn" }}
    <label for="admin-sidebar__nav__checkbox" class="admin-sidebar__burger" aria-label="Open menu"></label>
    <label for="admin-sidebar__nav__checkbox" class="admin-sidebar__backdrop" aria-label="Close menu"></label>
{{ end }}